@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Pacifico & família= Paixão+Um:wght@700 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');


:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    
}


header{
    background-color: black; /*Fundo do cabeçalho*/
    color: white; /*Cor da fonte*/
    text-align: center; /*Centralizar fontes na tela*/
}


html, body {
    font-family: var(--font1);
    min-height: 100%;
    background-color: white;
}


header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family:'Times New Roman', Times, serif;
    font-size: 5vw;

  
}

header > p {
 
    padding: 50px; /*Espaço abaixo de "p" */
}

header a, footer a {
    color: white; /*cor da fonte do link no cabeçalho*/
    text-decoration: none; /*Sem sublinhado*/
    font-weight: bolder /* Fonte em negrito*/
}

header a:hover, footer a:hover{

    text-decoration: underline; /*Sublinhado ao pasar o mouse*/
}

section{ /*Configurações gerais do "Section*/
    
    font-family: var(--fonte2);
    font-weight: bolder;
    padding-top: 10vh; 
    padding-bottom: 10vh;
    line-height: 5vw;
    padding-left: 30px;
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    
    background-color: black;
    color: white;
}

section.imagem > p {
    background-color: rgb(51, 50, 50);
    display: inline-block;
    padding: 5px;


}

section#img01{
    background-image: url('imagens/');

}

section#img02{

}

footer{ /*Configurações de rodapé*/
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}



